body, html {
  @apply overflow-auto m-0 p-0 h-full;
}

body {
  @apply bg-bg font-core text-pearl;
}

* {
  box-sizing: border-box;
}

section {
  @apply py-52;
}

#app {
  @apply h-full;
}

.theme-gradient {
  @apply bg-gradient-to-b from-imperial to-anthracite;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s ease;
}

.fade-quick-enter-from,
.fade-quick-leave-to,
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}


.fade-quick-enter-active,
.fade-quick-leave-active {
  transition: opacity 0.2s ease;
}

