body {
  @apply bg-bg font-core;
}

#app {
  @apply h-full;
}

.theme-gradient {
  @apply bg-gradient-to-b from-imperial to-bg;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s ease;
}

.fade-quick-enter-from,
.fade-quick-leave-to,
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}


.fade-quick-enter-active,
.fade-quick-leave-active {
  transition: opacity 0.2s ease;
}

.btn {
  @apply
    text-jade
    border
    border-jade
    bg-white/10
    rounded-full
    px-6
    py-2
    text-center
  ;
}

