body, html {
  @apply overflow-auto m-0 p-0 h-full;
}

body {
  @apply bg-bg font-core text-pearl;
}

* {
  box-sizing: border-box;
}

section {
  @apply py-52;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
