.absolute-center {
  @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
}

.absolute-y-center {
  @apply absolute top-1/2 transform -translate-y-1/2;
}

.absolute-x-center {
  @apply absolute left-1/2 transform -translate-x-1/2;
}

.center-content {
  @apply flex items-center justify-center;
}

.animate-breathe {
  animation: breathe 1.5s alternate infinite;
}
@keyframes breathe {
  to {
    opacity: 0.3;
  }
}

.underline-hover {
  display: block;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: currentColor;
  }

  &:hover::before {
    animation: underline-hover .6s;
  }

  &.underline-reversed {
    &::before {
      transform: scale(0, 1);
      transform-origin: right;
      transition: transform .3s;
    }

    &:hover::before {
      animation: none;
      transform-origin: left;
      transform: scale(1, 1);
    }
  }

  &.underline-bold::before {
    height: 3px;
    bottom: -2px;
  }
}
