@mixin font-face($name, $size) {
  @font-face {
    font-family: $name;
    src: url('/assets/fonts/#{$name}-#{$size}.eot');
    src: url('/assets/fonts/#{$name}-#{$size}.eot') format('embedded-opentype'),
    url('/assets/fonts/#{$name}-#{$size}.woff2') format('woff2'),
    url('/assets/fonts/#{$name}-#{$size}.woff') format('woff'),
    url('/assets/fonts/#{$name}-#{$size}.ttf') format('truetype');
    font-weight: $size;
  }
}
@include font-face("dahlia", 400);
@include font-face("dahlia", 500);
@include font-face("dahlia", 700);
